body,
html {
    height: 100%;
}
#container {
    min-height: 100%;
    position: relative;
}
#header {
    max-width: 1300px;
    height: 580px;
    background-color: #000;
    background-image: url(../img/Fallout-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 160px;
    margin: 5% auto;
}
.s-fal {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 110px;
}
.s-76 {
    color: #fff;
    font-family: Yantramanav, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 110px;
    margin-left: 25px;
    color: #dbb336;
}
.txt {
    margin-left: 75px;
    padding-top: 25px;
}
.pr1 {
    color: #fff;
    width: 545px;
    font-size: 65px;
    text-align: left;
    margin-left: 0;
    margin-top: 50px;
    line-height: 70px;
    font-weight: 300;
    font-style: italic;
}
#corp {
    width: 100%;
    height: 700px;
    display: block;
}
.crptxt {
    margin: 60px auto;
    max-width: 1300px;
    height: 735px;
    text-align: justify;
    padding: 60px;
    font-size: 27px;
    display: block;
}
.twpar {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.ylw {
    color: #dbb336;
}
#footer {
    clear: both;
    width: 100%;
    height: 300px;
}
.guy {
    position: absolute;
    left: 6%;
    top: 1500px;
    width: 330px;
    height: 340px;
    background-image: url(../img/Fallout-Guy.png);
    background-repeat: no-repeat;
    background-size: 325px;
}
.re {
    position: absolute;
    right: 6%;
    top: 1500px;
    width: 330px;
    height: 340px;
    background-image: url(../img/Fallout-icon.png);
    background-repeat: no-repeat;
    background-size: 250px;
}
.retxt {
    text-align: center;
    font-size: 28px;
    width: auto;
    height: auto;
    display: block;
    margin: 11% auto;
    margin-left: -70px;
}
.r-700-i {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
}
.r-500-27 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 27px;
}
.fs-27 {
    font-size: 27px;
}
@media (max-width: 1066px) {
    .guy,
    .re {
        display: none;
    }
}
@media screen and (min-width: 530px) and (max-width: 860px) {
    #header {
        max-width: 530px;
    }
    .crptxt {
        font-size: 20px;
    }
    .pr1 {
        color: #fff;
        width: 285px;
        font-size: 30px;
        text-align: left;
        margin-left: 0;
        margin-top: 50px;
        line-height: 70px;
        font-weight: 300;
        font-style: italic;
    }
    .s-fal {
        font-size: 80px;
    }
    #footer {
        display: none;
    }
}
@media (max-width: 529px) {
    #header {
        max-width: 430px;
    }
    .crptxt {
        font-size: 18px;
        height: auto;
    }
    .txt {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 30%;
    }
    .pr1 {
        color: #fff;
        width: 226px;
        font-size: 30px;
        text-align: left;
        margin-left: 75px;
        margin-top: -190px;
        line-height: 70px;
        font-weight: 300;
        font-style: italic;
        padding-top: 180px;
    }
    .s-fal {
        font-size: 50px;
        margin-left: 40px;
    }
    .s-76 {
        font-size: 80px;
    }
    #footer {
        display: none;
    }
}
@media (max-width: 400px) {
    #header {
        max-width: 350px;
    }
    .crptxt {
        font-size: 15px;
    }
    .txt {
        display: block;
        margin: 0 23%;
    }
    .pr1 {
        color: #fff;
        width: 200px;
        font-size: 25px;
        text-align: left;
        line-height: 70px;
        font-weight: 300;
        font-style: italic;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .s-fal {
        font-size: 50px;
        margin: 0 auto;
        display: block;
        width: 175px;
    }
    .s-76 {
        width: 130px;
        font-size: 80px;
        display: block;
        margin: 0 auto;
    }
    li {
        margin-top: 20px;
    }
    #footer {
        display: none;
    }
}
