* {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
}
body {
    overflow-x: hidden;
}
#navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    max-height: 65px;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 5;
}
#navbar ul {
    display: none;
}
.icon-hamburger {
    position: absolute;
    right: 20px;
}
.image-intro {
    display: flex;
    width: 100%;
    justify-content: center;
}
.mockup {
    width: 500px;
    z-index: -1;
    margin-top: -180px;
}
.back-mockup {
    position: absolute;
    right: 0;
    z-index: -2;
    height: 460px;
}
.presentation {
    margin-top: 150px;
    text-align: center;
}
.presentation h1 {
    font-weight: 300;
    color: #333146;
    font-size: 60px;
    padding: 0 5px;
}
.presentation p {
    color: #333146a2;
    width: 387px;
    text-align: justify;
    margin: 25px auto;
    line-height: 30px;
}
.request-invite {
    width: 180px;
    height: 50px;
    background: #33d069;
    background: linear-gradient(90deg, rgba(51, 208, 105, 1) 0, rgba(41, 187, 212, 1) 100%);
    border-radius: 30px;
    outline: 0;
    border: none;
    color: #fff;
    font-size: 16px;
}
.features {
    margin-top: 160px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.features h1 {
    font-weight: 300;
    font-size: 40px;
    width: 250px;
    text-align: center;
    color: #343a4a;
    margin: 0 auto;
}
.features p {
    width: 387px;
    text-align: center;
    color: #333146a2;
    margin-top: 15px;
    line-height: 30px;
}
.online {
    margin-top: 50px;
}
.feature-title {
    margin-top: 20px;
    font-size: 22px;
    color: #343a4a;
}
.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-article h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #343a4a;
    margin-top: 150px;
}
.img-1 {
    width: 500px;
    height: 250px;
    background-image: url(images/image-currency.jpg);
    margin-top: 50px;
    border-radius: 5px;
}
.img-2 {
    width: 500px;
    height: 250px;
    background-image: url(images/image-restaurant.jpg);
    margin-top: 50px;
    border-radius: 5px;
}
.img-3 {
    width: 500px;
    height: 250px;
    background-image: url(images/image-plane.jpg);
    margin-top: 50px;
    border-radius: 5px;
}
.img-4 {
    width: 500px;
    height: 250px;
    background-image: url(images/image-confetti.jpg);
    margin-top: 50px;
    border-radius: 5px;
}
.description {
    padding: 40px 80px;
    width: 400px;
}
.description span {
    color: #333146a2;
}
.description h2 {
    color: #343a4a;
    font-weight: 400;
    margin-top: 10px;
}
.description p {
    color: #333146a2;
    margin-top: 10px;
}
#footer {
    height: 575px;
    margin-top: 150px;
    background-color: #2d314e;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#footer img {
    width: 200px;
    margin-top: 50px;
}
.social {
    display: flex;
    width: 300px;
    place-content: space-between;
}
.social img {
    width: 35px !important;
}
#footer ul {
    margin-top: -20px;
    list-style-type: none;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}
#footer ul li {
    margin: 20px 0;
}
.mt {
    margin-top: 15px;
}
#footer span {
    color: #ffffff52;
    font-weight: 300;
    margin-top: 25px;
}
.nv {
    display: none;
}
.desktop {
    display: none;
}
.features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: auto;
    margin: 0 100px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lsocial {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.icop {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.kx {
    margin-top: 0 !important;
}
@media (min-width: 1160px) {
    .features-content {
        flex-direction: row;
        margin-top: 30px;
        align-self: flex-start;
        margin-left: 30px;
    }
    .desktop {
        display: block;
        width: 800px;
        height: 800px;
        position: absolute;
        right: -215px;
        top: -160px;
    }
    .mockup {
        width: 520px;
        z-index: -1;
        margin-top: -80px;
        margin-right: -90px;
    }
    .mobile {
        display: none;
    }
    .image-intro {
        place-content: flex-end;
    }
    .icon-hamburger {
        display: none;
    }
    #navbar {
        justify-content: space-around;
    }
    #navbar ul {
        display: flex;
        list-style-type: none;
    }
    #navbar ul li {
        color: #333146a2;
        margin: 0 18px;
    }
    .nv {
        display: block;
        height: 40px;
        margin-top: 5px;
    }
    .presentation {
        position: absolute;
        top: 180px;
        width: 500px;
        right: 670px;
        z-index: 0;
        margin-top: 0;
    }
    .features-header {
        margin-top: -75px;
        align-self: flex-start;
        margin-left: -50px;
    }
    .features p {
        text-align: left;
        width: 614px;
        margin-left: 190px;
    }
    .features h1 {
        width: auto;
    }
    .lo {
        width: 100px;
    }
    .lo img {
        margin-left: -30px;
    }
    .lo p {
        width: 205px;
        margin-left: 104px;
        line-height: 18px;
        text-align: justify;
    }
    .articles {
        flex-direction: row;
        justify-content: space-around;
        place-content: flex-start;
        margin-left: 100px;
    }
    .img-1 {
        width: 260px;
        height: 200px;
    }
    .img-2 {
        width: 260px;
        height: 200px;
    }
    .img-3 {
        width: 260px;
        height: 200px;
    }
    .img-4 {
        width: 260px;
        height: 200px;
    }
    .description {
        width: 215px;
        padding: 0;
        font-size: 13px;
        margin-top: 30px;
    }
    .title-article h1 {
        text-align: inherit;
        align-content: flex-start;
        margin-left: 120px;
    }
    .card {
        margin: 0 15px;
    }
    #footer {
        height: 190px;
        flex-direction: row;
        justify-content: center;
        place-content: space-around;
    }
    ul li {
        text-align: left;
    }
    .social {
        width: 200px;
    }
    .social img {
        width: 25px !important;
    }
    #footer ul {
        font-size: 15px;
    }
    #footer img {
        margin-top: 35px;
    }
    .lsocial {
        margin-top: -13px;
    }
    .mt {
        margin-top: -15px;
    }
}

/* Hover */ 

#navbar li:hover {
    cursor: pointer;
    color: #343a4a !important;
}

button:hover {
    cursor: pointer;
}

#footer li:hover {
    color: #33CF70;
    cursor: pointer;
}

.description h2:hover {
    color: #33CF70;
    cursor: pointer;
}

.social img:hover {
    cursor: pointer;
}