* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    /* font-size: 16px; */
}

body {
    background-color: #fafafa;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 248px;
    height: 530px;
    background-color: #f5f3f8;
    margin-top: 65px;
    border: 10px solid white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.30);
    position: relative;
}

.phone-header {
    position: relative;
    height: 70px;
    background: rgb(144,58,255);
    background: linear-gradient(90deg, rgba(144,58,255,1) 0%, rgba(222,67,255,1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-deco {
    position: absolute;
    background-color: white;
    height: 20px;
    width: 130px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 0;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-left: -145px;
    padding-left: 10px;
}

.icon-arrow-left {
    width: 20px;
    stroke: white;
    margin-top: 4px;
    padding-left: 50px;
    margin-left: 20px;
}

.avatar {
    width: 25px;
    height: 25px;
    z-index: 5;
    border-radius: 100%;
    border: 2px solid white;
    margin-top: 5px;
}

.icon-dot {
    width: 15px;
    height: 15px;
    stroke: white;
    margin-top: 13px;
    position: absolute;
    right: 15px;
}

.nstat {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.name {
    color: white;
    font-size: 14px;
}

.statut {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    margin-top: 2px;
}

.message-content {
    padding: 10px;
}

.msg-receive {
    width: 130px;
    font-size: 10px;
    background-color:#ede5f4;
    font-size: 10px;
    padding: 7px 20px 7px 7px;
    color: #956eaf;
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
}

.msg-photo-send {
    width: 130px;
    font-size: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    float: right;
    display: flex;
    place-content: space-between;
}

.msg-send {
    width: 110px;
    font-size: 10px;
    font-size: 10px;
    padding: 7px 7px 7px 7px;
    background-color: white;
    color: #000000ce;
    border-radius: 10px;
    margin-bottom: 10px;
    float: right;
}
.msg-send-1 {
    width: 91px;
    font-size: 10px;
    font-size: 10px;
    padding: 7px 7px 7px 7px;
    background-color: white;
    color: #000000ce;
    border-radius: 10px;
    margin-bottom: 10px;
    float: right;
}

.dog-pic {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.walk-order {
    position: relative;
    display: flex;
    width: 130px;
    font-size: 10px;
    background: rgb(230,65,255);
    background: linear-gradient(90deg, rgba(230,65,255,1) 0%, rgba(138,58,255,1) 100%);
    font-size: 10px;
    padding: 10px 40px 10px 10px;
    color: #956eaf;
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
    color: white;
}

.walk-order p {
    margin-left: 7px;
    margin-top: 2px;
}

.icon-circle {
    width: 15px;
    stroke: rgba(255, 255, 255, 0.3);
}

.price-order {
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 2px;
    position: absolute;
    right: 15px;
}

.message-keyboard {
    height: 35px;
    width: 100%;
    background-color: white;
    float: left;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.message-keyboard span {
    font-size: 11px;
    position: absolute;
    left: 15px;
    color: rgba(0, 0, 0, 0.35);
}

.send-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 6px;
    top: 5px;
    background-color: #37204e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-ico {
    width: 20px;
    stroke: white;
}

.intro-content {
    text-align: center;
    padding: 25px;
    line-height: 35px;
    margin-top: 30px;
}

.intro-content span {
    font-size: 35px;
    font-weight: 500;
    color: #3d2652;
}

.intro-content p {
   color: rgba(0, 0, 0, 0.5);
}

.font-1 {
    position: absolute;
    height: 810px;
    width: 410px;
    background: rgb(138,58,255);
    background: linear-gradient(0deg, rgba(138,58,255,1) 0%, rgba(230,65,255,1) 100%);
    border-radius: 500px;
    left: -350px;
    top: -335px;
    z-index: -10;
}

@media (min-width: 950px) {
    #container {
        flex-direction: row;
    }

    .intro-content {
        margin-left: 100px;
        text-align: left;
        width: 450px;
    }

    .intro-content p {
        margin-top: 15px;
    }


}