  /* CHECKBOX TOGGLE SWITCH */
  /* @apply rules for documentation, these do not work as inline style */
  .toggle-checkbox:checked {
    right: 0;
    border-color: #68D391;
    outline: none;
  }
  .toggle-checkbox:checked + .toggle-label {
    background-color: #68D391;
    outline: none;
  }

  .toggle-checkbox:focus {
    outline: none;
}
